.categorySection {
  margin-bottom: 40px;
  background-color: oklab(87.844% 0.01912 0.00594 / 0.223);
}

.categoryTitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;

}

.productRow {
  display: flex;
  gap: 16px;
  overflow-x: auto;       /* horizontal scroll */
  padding-bottom: 20px;
  scrollbar-width: none  /* Firefox */
 
}

.card {
 flex:0 0 auto;
 width: 220px;
 height: 320px;
 background:#fff;
 box-shadow: 0 2px 8px rgba(0,0,0,0.1);
 padding: 12px;
 text-align: center;
 transition: transform 0.2s ease,box-shadow 0.2s ease;

}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  margin: 6px 0;
  color: #222;
}

p {
  font-size: 0.9rem;
  color: #555;
}

button {
  margin-top: 8px;
  padding: 8px 12px;
  background: #ff9900; /* Amazon-style orange */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #e68a00;
}
