.header {
  align-items: center;
  justify-content: space-between;
  background-color:#f5f7fa ;
  text-align: center;
  padding: 8px 10px;
  
}

.title {
  color: #7d2525;
  font-size: 2rem;
  margin: 0;
}

.clockTime,.clockDate {
  top:10px;
  left: 10px;
  font-size: 1rem;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}


.resultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin: 20px;
  padding: 10px;
}

