.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background:#ffffff;
padding: 12px 20px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.logo{
font-size: 1.5rem;
font-weight: bold;
color:lab(64.99% 47.35 71.83);
margin:0px;
cursor: pointer;
}
.navLinks{
    display: flex;
    gap:10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navLink{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    transition: color 0.2s ease;
    padding:4px 0;
}
.navLink:hover{
    color:#ff6726e9
}
.navLink.active { 
    color: #2a6df4; 
    font-weight: 600; 
    border-bottom: 2px solid #2a6df4;
 }