.searchContainer{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 6px;
    padding: 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.searchSelect{
    padding: 0.5rem;
    margin-right: 0.5rem;
    border:1px soild #ccc;
    border-radius: 4px;
    text-align: center;
}
.searchInput{
    flex:1;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    outline: none;
}
.searchButton {
  background: #febd69;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.searchButton:hover {
  background: #f3a847;
}
.searchDisplay {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  font-style: italic;
}
